.hero img { width: 100%; border-radius: 15px; }

.category-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.category-ring img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ff4d6d;
}
